<div class="product__pickup-availabilities hidden no-js-hidden"
                     {% if current_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                     data-root-url="{{ routes.root_url }}"
                     data-variant-id="{{ current_variant.id }}"
                     data-has-only-default-variant="{{ product.has_only_default_variant }}"
                     >
    <div id="pickup-availability-preview-container" class="hidden">
      <div class="pickup-availability-info">
        <div class="pickup-availability-content">
          <p class="">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
          <button class="pickup-availability-button">{{ 'products.product.pickup_availability.refresh' | t }}</button>
        </div>
      </div>
  </div>
</div>