<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {%- render 'meta-tags' -%}
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin
    >
    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- unless settings.type_heading_font_family.system? and settings.type_base_font_family.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin
      >
    {%- endunless -%}
    <title>{{ page_title }}</title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {{ content_for_header }}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- render 'theme-style' -%}
    {%- render 'theme-scripts' -%}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-4zO6SfZ4g5MXuFa/G7flU6PXBze1Wl9k8O3gy27rW9c8+8JDOhYxAt+fg8srQlyYlZlQ/zQW3y+pdNSl5i1TQ=="
      crossorigin="anonymous"
    >
  </head>

  <body
    class="template_{{ template | handle }} page-loading breadcrumb-{{ settings.enable_breadcrumb }} theme-layout-{{ settings.layout_style }}"
    style="--layoutRadius:{% if settings.layout_style == 'rounded' %}10px{% else %}0px{% endif %};"
  >
    <div id="spinner-container" class="spinner-container">
      <div class="spinner"></div>
    </div>
    <div id="pseudo__nav">
      <div class="container__codes-promo expanded" id="codesPromo">
        <p class="codes-promo__text">
          <span>
            Code Promo : -10% sur les D12 230, 300 et 500 via le code : YUMI // -10% sur les Filaments et Résines via le
            code PRINT //
          </span>
          <span>
            -5% sur les Pièces Détachées et Accessoires via le code RHINO // -8% sur les V600 via le code V600 // -15%
            sur le Speeder Pad via le code PAD
          </span>
        </p>
        <button id="closed_codes_promo" class="closed-code-promo">
          <svg
            id="arrow_icon"
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M4 16L12 8L20 16" stroke="orange" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="container__items-navbar" id="pseudo--navbar">
        <div class="fully-div"></div>
        <ul class="items-navbar__container">
          <li class="container__item">
            <a
              target="_blank"
              href="https://formation.wanhaofrance.com/administratif-devis"
              class="container__item-info"
              >Devis</a
            >
          </li>
          <li class="container__item">
            <a
              target="_blank"
              href="https://formation.wanhaofrance.com/administratif-partenariat"
              class="container__item-info"
              >Revendeur</a
            >
          </li>
          <li class="container__item">
            <a
              target="_blank"
              href="https://wanhao-europe.com/pages/start"
              class="container__item-info"
              >Guide d'utilisation et formation</a
            >
          </li>
          <li class="container__item">
            <a target="_blank" href="https://formation.wanhaofrance.com/menu-contact" class="container__item-info"
              >SAV</a
            >
          </li>
          <li class="container__item"><a href="/blogs/news" class="container__item-info">Blog</a></li>
        </ul>
        <!-- TTC -->
        <div class="toggle-container">
          <button id="togglePreciosBtn" class="toggle-btn"></button>
        </div>
      </div>
    </div>
    <a class="skip-to-content-link button yv-visually-hidden focus-inside" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    <div class="body-wrapper">
      <div class="wrapper">
        {% sections 'header-group' %}
        {%- if settings.enable_breadcrumb -%}
          {%- render 'breadcrumb' -%}
        {%- endif -%}
        <main id="MainContent" class="content-for-layout focus-none">
          {{ content_for_layout }}
        </main>
        {% sections 'footer-group' %}
        {%- section 'store-locator' -%}
        {%- render 'search-drawer' -%}
        {%- section 'newsletter-sidebar-popup' -%}
        {%- render 'side-drawer' -%}
        <ul class="list-unstyled" hidden>
          <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
        </ul>
      </div>
      {%- liquid
        render 'newsletter-popup'
        render 'cookie-banner'
        render 'age-verification-popup'
        if settings.enableScrollToTop
          render 'scroll-top'
        endif
        render 'similar-product-drawer'
      -%}
    </div>
    {%- if settings.enable_cart_drawer -%}
      <div
        id="mini_cart_shipping"
        {% if settings.enable_shipping and settings.shipping_rate != blank %}
          data-shipping="{{ settings.shipping_rate | times: 100 }}"
          data-shipText="{{ settings.shipping_text }}"
        {% endif %}
      >
        {% if settings.enable_shipping and settings.shipping_rate != blank %}
          <select
            id="shippingcountries"
            class="hidden"
            disabled
          >
            {{ country_option_tags }}
          </select>
        {% endif %}
      </div>
    {%- endif -%}
    {% if settings.enable_animation %}
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          AOS.init({
            easing: 'ease',
            once: true,
            duration: 1000,
            offset: 60,
            disableMutationObserver: true,
          });
        });
      </script>
    {% endif %}
    {%- if request.page_type contains 'customers' -%}
      <div class="yv-reorder-popup">
        <div class="yv-reorder-popup-Container">
          <div class="yv-reorder-popup-body"></div>
        </div>
      </div>
    {% endif %}
    <script src="https://kit.fontawesome.com/a5ab2ef8e3.js" crossorigin="anonymous" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    <!-- TTC -->
    <script>
      function setDefaultState() {
        const showTTC = localStorage.getItem('showTTC');
        if (showTTC === null) {
          localStorage.setItem('showTTC', JSON.stringify(true));
        }
      }
      setDefaultState();
    </script>
  </body>
</html>
