 {{ 'event-calender.css' | asset_url | stylesheet_tag }}
 
<div class="container">
  {% if section.settings.heading != blank %}
    <div class="section-heading text-left">
      <{{ section.settings.seo_heading }} class="h2">{{ section.settings.heading }}</{{ section.settings.seo_heading }}>
    </div>
    {% endif %}
    <div class="event-calender-outer">
      <div class="row">
        {% for block in section.blocks %}
        <div class="col-md-6" {{ block.shopify_attributes }}>
          <div class="event-calender-item">
            <div class="event-calender-img-box">
                <div class="image-wrapper" style="padding-bottom:100%;">
                  {% liquid
                    if block.settings.image != blank 
                      render 'lazy-image', image: block.settings.image 
                    else
                        echo 'image' | placeholder_svg_tag: 'placeholder-svg'
                    endif
                  %}
                </div>
                {% if block.settings.date != blank %}
                  {%- liquid
                    assign day = block.settings.date | date: '%d'
                    assign month = block.settings.date | date: '%b'
                  -%}
                  <div class="event-calender-date">
                    <span>{{ day }}</span>
                    <span>{{ month }}</span>
                  </div>
                {% endif %}
            </div>
            {%- capture eventContent -%}
            {%- if block.settings.title != blank -%}
              <h6 class="event-calender-heading">{{ block.settings.title }}</h6>
            {% endif %}
            {%- if block.settings.description != blank -%}
              <div class="event-calender-desc">{{ block.settings.description }}</div>
            {% endif %}
            {%- if block.settings.time != blank or block.settings.location != blank -%}
            <ul class="list-unstyled event-calender__list">
              {%- if block.settings.time != blank -%}
                <li class="event-timing">
                  <span class="event-location-child">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
                      <path d="M6 12C9.31235 12 12 9.31235 12 6C12 2.68765 9.31235 0 6 0C2.68765 0 0 2.68765 0 6C0 9.31235 2.68765 12 6 12ZM5.30266 2.90557C5.30266 2.67312 5.49152 2.48426 5.72397 2.48426C5.95642 2.48426 6.14528 2.67312 6.14528 2.90557V6.08717L7.90315 7.4092C8.09201 7.55448 8.12107 7.81598 7.99031 8.00484C7.90315 8.12106 7.78692 8.17918 7.65617 8.17918C7.56901 8.17918 7.48184 8.15012 7.4092 8.09201L5.477 6.63923C5.3753 6.56659 5.30266 6.43583 5.30266 6.30508V2.90557Z" fill="currentColor"></path>
                    </svg>
                     {{ block.settings.time }}
                  </span>
                </li>
              {% endif %}
              {%- if block.settings.location != blank -%}
                <li class="event-location">
                    {% capture location %}
                      <svg width="8" height="12" viewBox="0 0 8 12" fill="none">
                        <path d="M4 0C1.78857 0 0 1.878 0 4.2C0 7.35 4 12 4 12C4 12 8 7.35 8 4.2C8 1.878 6.21143 0 4 0ZM4 5.7C3.21143 5.7 2.57143 5.028 2.57143 4.2C2.57143 3.372 3.21143 2.7 4 2.7C4.78857 2.7 5.42857 3.372 5.42857 4.2C5.42857 5.028 4.78857 5.7 4 5.7Z" fill="currentColor"></path>
                      </svg>
                      {{ block.settings.location }}
                    {% endcapture %}
                    {% if block.settings.location_url %}
                      <a href="{{ block.settings.location_url }}" target="_blank" class="event-location-child">
                        {{ location }}
                      </a>
                    {% else %}
                      <span class="event-location-child">
                        {{ location }}
                      </span>
                    {% endif %}
                </li>
              {% endif %}
            </ul>
            {% endif %}
            {%- if block.settings.link_text != blank and block.settings.link_url -%}
              <a href="{{ block.settings.link_url }}" class="button xsmall-btn" aria-label="{{ block.settings.link_text }}">{{ block.settings.link_text }}</a>
            {%- endif -%}
            {%- endcapture -%}
            {% if eventContent != blank %}
            <div class="event-calender-content">
                <div class="event-calender-inner-content">
                  {{ eventContent }}
                </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

<style>
  #shopify-section-{{ section.id }}.shopify-section {
    background:var(--{{- section.settings.bgcolor -}}ColorBody);
    padding-top:{{ section.settings.top_space_desktop }}px;
    padding-bottom:{{ section.settings.bottom_space_desktop }}px;
    {%- unless section.settings.bgcolor == 'primary' or section.settings.bgcolor == 'gradient' -%}
    --colorTextBody:var(--{{- section.settings.bgcolor -}}colorTextBody);
    --heading_color:var(--{{- section.settings.bgcolor -}}_heading_color);
    --primaryColorBody:var(--{{- section.settings.bgcolor -}}ColorBody);
    --colorLightTextBody:var(--{{- section.settings.bgcolor -}}ColorLightTextBody);
    --colorXlightTextBody:var(--{{- section.settings.bgcolor -}}ColorXlightTextBody);
    {%- endunless -%}
  }
  @media only screen and (max-width:991px) {
    #shopify-section-{{ section.id }}.shopify-section{
      padding-top:{{ section.settings.top_space_mobile }}px;
      padding-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.events_calendar.name",
  "tag": "section",
  "class": "section event-calender-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.events_calendar.settings.heading.label",
      "default": "Event calander"
    },
   {
          "type": "select",
          "id": "seo_heading",
          "label": "t:common.header.heading_tag.label",
          "info": "t:common.header.heading_tag.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
      },
        {
          "type": "header",
          "content": "t:common.header.color_singular_section.label"
        },
        {
          "type": "select",
          "id": "bgcolor",
          "label": "t:common.header.background_section.label",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "t:common.header.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.header.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.header.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.header.quaternary.label"
            },
            {
              "value": "gradient",
              "label": "t:common.header.gradient.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "section_visibility",
          "label": "t:common.section_visibility.label",
          "default": "always",
          "options": [
            {
              "label": "t:common.section_visibility.options.always.label",
              "value": "always"
            },
            {
              "label": "t:common.section_visibility.options.small_devices.label",
              "value": "small"
            },
            {
              "label": "t:common.section_visibility.options.large_devices.label",
              "value": "large"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:common.header.space_section.label"
        },
        {
          "type": "range",
          "id": "top_space_desktop",
          "label": "t:common.top_space_desktop.label",
          "default": 40,
          "min": 0,
          "max": 100,
          "step": 5
        },
        {
          "type": "range",
          "id": "bottom_space_desktop",
          "label": "t:common.bottom_space_desktop.label",
          "default": 40,
          "min": 0,
          "max": 100,
          "step": 5
        },
        {
          "type": "range",
          "id": "top_space_mobile",
          "label": "t:common.top_space_mobile.label",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 5
        },
        {
          "type": "range",
          "id": "bottom_space_mobile",
          "label": "t:common.bottom_space_mobile.label",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 5
        }
  ],
  "blocks": [
    {
      "type": "event",
      "name": "t:sections.events_calendar.blocks.event.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.events_calendar.blocks.event.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.events_calendar.blocks.event.settings.title.label",
          "default": "Event"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "t:sections.events_calendar.blocks.event.settings.description.label",
          "default": "<p>Share information and details about this event.</p>"
        },
        {
          "id": "date",
          "type": "text",
          "label": "t:sections.events_calendar.blocks.event.settings.date.label",
          "placeholder": "10th December",
          "default": "10th December"
        },
        {
          "id": "time",
          "type": "text",
          "label": "t:sections.events_calendar.blocks.event.settings.time.label",
          "placeholder": "10.00pm - 12.00pm"
        },
        {
          "id": "location",
          "type": "text",
          "label": "t:sections.events_calendar.blocks.event.settings.location.label",
          "default": "Event location"
        },
        {
          "id": "location_url",
          "type": "url",
          "label": "t:sections.events_calendar.blocks.event.settings.location_url.label"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "t:sections.events_calendar.blocks.event.settings.link_text.label",
          "default": "More info"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "t:sections.events_calendar.blocks.event.settings.link_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.events_calendar.presets.name",
      "blocks": [
        {
          "type": "event",
          "settings": {
            "date": "10th December",
            "time": "7PM - 11PM"
          }
        },
        {
          "type": "event",
          "settings": {
            "date": "20th November",
            "time": "2PM - 5PM"
          }
        },
        {
          "type": "event",
          "settings": {
            "date": "Oct 29",
            "time": "5PM"
          }
        },
        {
          "type": "event",
          "settings": {
            "date": "21 October",
            "time": "5PM-9PM"
          }
        }
      ]
    }
  ]
}
{% endschema %}
