<div class="{% if settings.layout_width == 'boxed' %}container{% else %}container-fluid{% endif %}"> 
  <div class="section-heading " >
    <{{ section.settings.seo_heading }} class="featured-blog-section-heading">
      {{ section.settings.heading }}
    </{{ section.settings.seo_heading }}>
    {%- if section.settings.button != blank and section.settings.link != blank -%}
      <a class="link" href="{{ section.settings.link }}">{{ section.settings.button }}</a>
      {%- endif -%} 
  </div>
  {%- if section.blocks.size > 0 -%}
  <div class="yv-blogs-wrapper article-count-{{ section.blocks.size }} overlay-content-{{ section.settings.overlay_content }}" style="--layoutRadius:{% if settings.layout_style == 'rounded' %}10px{% else %}0px{% endif %}"> 
    <div class="row">       
      {%- for block in section.blocks -%}
      {%- if block.settings.article != blank -%}
      {%- assign article = block.settings.article -%}
      <div class="{% if section.blocks.size > 1 %}col-10 col-sm-10{% else %}col-12 col-sm-12{% endif %} col-md-4 col-lg-4" {{ block.shopify_attributes }} >
        <div class="yv-blog-card" {% if settings.enable_animation %} data-aos="fade-up" data-aos-delay="{{ 50 | times : forloop.index }}"{% endif %}>
          <a href="{{- article.url -}}" class="yv-blog-card-img">
            {%- if article.image -%}             
              <div class="image-wrapper image-{{ settings.article_image_style }}" {% if settings.article_image_style == 'aspect' %}style="padding-bottom:{{ 1 | divided_by : article.image.aspect_ratio | times: 100 }}%"{% endif %}>
                {% render 'lazy-image' image: article.image %} 
              </div>
            {%- else -%}
              {%- if settings.article_image_style != 'aspect' -%}
                <div class="image-wrapper no-article-image image-{{ settings.article_image_style }}">
              {%- endif -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- if settings.article_image_style != 'aspect' -%}
                </div>
              {%- endif -%}                    
            {%- endif -%}
            <span class="yv-blog-date">{{ article.published_at | date: "%B %d, %Y" }}</span>
          </a>
          <div class="yv-blog-card-text">
            <h6 class="yv-blog-title">{{ article.title }}</h6> 
            <p class="yv-blog-desc">{{ article.excerpt_or_content | strip_html | truncatewords: 20 }}</p>
            <a href="{{- article.url -}}" class="button xsmall-btn secondary-button">{{ 'blogs.article.read_more' | t }}</a>
          </div>
        </div>
      </div>
      {%- else -%}
      <div class="col-10 col-sm-10 col-md-4 col-lg-4">
        <div class="yv-blog-card" data-aos="fade-up" data-aos-delay="{{ 200 | times : forloop.index }}">
          <div class="yv-blog-card-img">  
            {%- if settings.article_image_style != 'aspect' -%}
              <div class="image-wrapper no-article-image image-{{ settings.article_image_style }}">
            {%- endif -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- if settings.article_image_style != 'aspect' -%}
              </div>
            {%- endif -%} 
            <span class="yv-blog-date">{{ 'sections.featured_article.onboarding_date' | t }}</span>
          </div>
          <div class="yv-blog-card-text">   
            <h6 class="yv-blog-title">{{ 'sections.featured_article.onboarding_title' | t }}</h6>
            <p class="yv-blog-desc">{{ 'sections.featured_article.onboarding_content' | t }}</p>
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
</div>
<style>
  #shopify-section-{{ section.id }}.shopify-section {
    background:var(--{{- section.settings.bgcolor -}}ColorBody);
    padding-top:{{ section.settings.top_space_desktop }}px;
    padding-bottom:{{ section.settings.bottom_space_desktop }}px;
    {%- unless section.settings.bgcolor == 'primary' or section.settings.bgcolor == 'gradient' -%}
    --colorTextBody:var(--{{- section.settings.bgcolor -}}colorTextBody);
    --heading_color:var(--{{- section.settings.bgcolor -}}_heading_color);
    --colorLightTextBody:var(--{{- section.settings.bgcolor -}}ColorLightTextBody);
    --colorXlightTextBody:var(--{{- section.settings.bgcolor -}}ColorXlightTextBody);
    {%- endunless -%}
  }
  @media only screen and (max-width:991px) {
    #shopify-section-{{ section.id }}.shopify-section{
      padding-top:{{ section.settings.top_space_mobile }}px;
      padding-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.featured-article.name",
  "tag": "section",
  "class": "blog-post featured-articles-section",
  "max_blocks": 3,
  "disabled_on": {
    "groups": ["header", "footer"]
   },
  "settings": [
    {
       "type":"checkbox",
       "id":"overlay_content",
       "default":false,
       "label":"t:sections.featured-article.settings.overlay_content.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Add Blog posts here",
      "label": "t:sections.featured-article.settings.heading.label"
    },
   {
          "type": "select",
          "id": "seo_heading",
          "label": "t:common.header.heading_tag.label",
          "info": "t:common.header.heading_tag.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
      },
    {
        "type": "header",
        "content": "t:common.header.button_section.label"
    }, 
    {
      "type": "text",
      "id": "button",
      "default": "View all",
      "label": "t:sections.featured-article.settings.button.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.featured-article.settings.link.label"
    },
    {
        "type": "header",
        "content": "t:common.header.color_singular_section.label"
    },  
    {
        "type": "select",
        "id": "bgcolor",
        "label": "t:common.header.background_section.label",
        "default": "primary",
        "options":[
        {
            "value":"primary",
            "label": "t:common.header.primary.label"
        },
        {
            "value":"secondary",
            "label": "t:common.header.secondary.label"
        },
        {
            "value":"tertiary",
            "label": "t:common.header.tertiary.label"
        },
        {
            "value":"quaternary",
            "label": "t:common.header.quaternary.label"
        },
        {
            "value":"gradient",
            "label": "t:common.header.gradient.label"
        }
        ]
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
        "type": "header",
        "content": "t:common.header.space_section.label"
    },     
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "t:sections.featured-article.blocks.article.name",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "t:sections.featured-article.blocks.article.settings.article.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-article.presets.name",
      "blocks": [
        { 
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        }
      ]
    }
  ]
}
{% endschema %}