<div class="nueva-seccion">
  <h2>{{ section.settings.nueva_seccion_titulo }}</h2>
  <!-- Agrega más contenido o configuraciones según sea necesario -->
</div>

<header class="header"
  data-header-sticky="{{ section.settings.enable_sticky_header }}"
  data-header-sticky-style="{{ section.settings.sticky_header_style }}"  
  data-naviation-open-method="{{ section.settings.menu_navigations }}"
  data-header-style="{{ section.settings.header_style }}"
  {% if template == 'index'  and section.settings.header_style != 'header2'and section.settings.header_style != 'header4' %}
    header-transparent="{{ section.settings.enable_transparent_header }}"
  {% endif %}
>
  {{ 'catalog.css' | asset_url | stylesheet_tag }}
  {%- comment -%}theme-check-disable NestedSnippet {%- endcomment -%}
  {%- case section.settings.header_style -%}
    {% when 'header1' %}
      {% render 'header-1', section: section %}
    {% when 'header2' %}
      {% render 'header-2', section: section %}
    {%- when 'header3' -%}
      {%- render 'header-3', section: section -%}
  {%- when 'header4' -%}
      {%- render 'header-4', section: section -%}
  {%- endcase -%}

  {%- comment -%}theme-check-enable NestedSnippet {%- endcomment -%}
  <style>

       #shopify-section-{{ section.id }}{
        --header-form-border: {{ section.settings.catalog_text_border }};
        --search-icon-bg: {{ section.settings.searchbar_icon_bg }};
         --search-icon-color:{{ section.settings.searchbar_icon_color }};
         --mobile-menu-border:{{ section.settings.mobile_menu_border_color }};
      }

      #nav_style_3 .navbar-nav.list-menu--inline{
        justify-content: {{ section.settings.menu_position }};
      }
      .nav-item .nav-link {
         font-size: {{ section.settings.type_font_size }}px;
      }
      .side-menu .inner-side ul li .list-menu__item,
      .side-menu .inner-side ul li .toggle-level,
      .side-menu .social-links ul li a {
         font-size: {{ section.settings.type_font_size }}px;
      }
      .side-menu .nav-item.dropdown .inner.child li .toggle-level,
      .side-menu .nav-item.dropdown .inner.child li a:not(.yv-megamenu-collection){
        font-size: {{ section.settings.type_font_size }}px;
        opacity: 0.8;
      }
      .header_2 .nav-item .nav-link ,.header_4 .nav-item .nav-link {
        font-size: {{ section.settings.type_font_size }}px;
      }
      .navigation__header{
        justify-content: {{ section.settings.logo_position }};
      }
      {%- if section.settings.enable_sticky_header -%}
      .shopify-section-main-header {
        position: sticky;
        top: 0;
      }
      {%- endif -%}
    {% unless section.settings.full_width_bgcolor contains 'rgba(0,0,0,0)' or section.settings.full_width_bgcolor == blank %}
      .header_2 .nav__header, .header_4 .nav__header{
        background:{{ section.settings.full_width_bgcolor }}
      }
  {% endunless %}
  {% unless section.settings.full_width_textcolor contains 'rgba(0,0,0,0)' or section.settings.full_width_textcolor == blank %}
    .header_2 .nav__header .nav-item .nav-link, .header_4 .nav__header .nav-item  .nav-link {
        color: {{ section.settings.full_width_textcolor }};
    }
  {% endunless %}
  {% unless section.settings.full_width_textcolor_hover contains 'rgba(0,0,0,0)' or section.settings.full_width_textcolor_hover == blank %}
    .header_2 .nav__header .nav-item .nav-link:hover, .header_4 .nav__header .nav-item .nav-link:hover {
        color: {{ section.settings.full_width_textcolor_hover }} !important;
    }
  {% endunless %}
      .shopify-section-main-header {
        z-index:4;
        transition: transform .4s ease;
      }
      .shopify-section-main-header header,
      .shopify-section-main-header .wrapper-top-cart.cart-fixed{
        background-color:{{ section.settings.header_bgcolor }};
      }
      body:not(.sticky-header, .header2) .shopify-section-main-header header[header-transparent=true]:not(:hover) .header__heading-link,
      body:not(.sticky-header, .header2) .shopify-section-main-header header[header-transparent=true]:not(:hover) .header__icons a,
      body:not(.sticky-header, .header2) .shopify-section-main-header header[header-transparent=true]:not(:hover) .nav-item .nav-link{
        color: {{ section.settings.transparent_text_color }};
      }
        body:not(.sticky-header, .header2) .shopify-section-main-header header[header-transparent=true]:not(:hover) .navbar-toggler-icon,
        body:not(.sticky-header, .header2) .shopify-section-main-header header[header-transparent=true]:not(:hover) .navbar-toggler-icon:before,
        body:not(.sticky-header, .header2) .shopify-section-main-header header[header-transparent=true]:not(:hover) .navbar-toggler-icon:after,
        body:not(.sticky-header, .header2) .shopify-section-main-header header[header-transparent=true]:not(:hover)  .hamburger-line{
        background: {{ section.settings.transparent_text_color }};
      }
      header a:not(.searchPage_link,.all_results_link,.dropdown-item, .drawer-login-btn,.hamburger-menu-item, .menu-category-title, .yv-dropdown-item-link, .yv-product-title, .dropdown-hamburger-menu-item-title, .back-to-menu,.yv-dropdown-item-link,.yv-megamenu-item-link, .category-menu-bar ul .category-menu-item a),
      header .list-menu__item,
      header .nav-link,
      .header_3 .nav__btn .menu_title,
      .header_3 .category_title h2,
      .shopify-section-main-header .wrapper-top-cart.cart-fixed .cart-icon{
        color:{{ section.settings.header_textcolor }};
      }
    .shopify-section-main-header .wrapper-top-cart.cart-fixed .cart-icon svg{
      fill:currentColor;
    }

      header .navbar-toggler span.navbar-toggler-icon,
      header .navbar-toggler span.navbar-toggler-icon:before,
      header .navbar-toggler span.navbar-toggler-icon:after,
      header .hamburger-line{
        background-color:{{ section.settings.header_textcolor }};
      }
      header a::after{
        border-color:{{ section.settings.header_textcolor }} !important;
      }
      .menuLinks-wrapper {
        width: 100%;
      }
      #headerSection .wrapper-top-cart .cartCount {
        border-color:{{ section.settings.header_bgcolor }};
      }
       @media screen and (min-width:1025px){
        .header_3 .nav__btn:hover button.navbar-toggler span.navbar-toggler-icon,
        .header_3 .nav__btn:hover button.navbar-toggler span.navbar-toggler-icon:after,
        .header_3 .nav__btn:hover button.navbar-toggler span.navbar-toggler-icon:before,
        .hamburger::after {
          background-color:{{ section.settings.header_textcolor_hover }};
        }
        header a:hover::after{
            border-color:{{ section.settings.header_textcolor_hover }} !important;
        }
        header a:not(.drawer-login-btn, .dropdown-hamburger-menu-item-title, .yv-dropdown-item-link, .menu-category-title, .yv-product-title, .yv-listing-megamenu-title, .yv-megamenu-item-link):hover,
        header .nav-link:hover,
          .header_3 .nav__btn:hover .menu_title{
            color:{{ section.settings.header_textcolor_hover }} !important;
          }
         header .category-menu-bar ul .category-menu-item a:hover,
         header .yv-megamenu-product-detail a:hover,
         header .yv-dropdown-item-link:hover,
         header .menu-category-title:hover,
         header .yv-dropdown-menus .yv-product-title:hover,
         header .yv-listing-megamenu-title:hover,
         header .yv-megamenu-item-link:hover {
            color: {{ section.settings.catologtext_hover}} !important;
          }
       }

    /*  side drawer setting  */
      header .side-menu,
      header .side-menu .child,
      header .side-menu .grandchild,
      header .side-menu .side-menu-header{
        background-color: {{ section.settings.mobile_menu_bg_color }};
      }
  
      header .side-menu .back-btn,
      header .side-menu .close-btn,
      header .side-menu a {
        color: #fff ;
      }
      header .side-menu .inner-side ul li .list-menu__item,
      header .side-menu .inner-side .lang-dropdown{
        color: {{ section.settings.mobile_menu_text_color }};        
      }

      header .navbar-nav-sidebar > .nav-item {
        border-bottom: 1px solid rgb(255 255 255 / 5%);
      }
      header .side-menu .nav-item.dropdown .inner.child li a,
      header .side-menu .nav-item.dropdown .inner.child li .toggle-level,
      header .side-menu .yv-product-information .yv-prizebox a,
      header .side-menu .yv-product-information .yv-prizebox .yv-product-price,
      header .side-menu .yv-product-information .yv-product-title,
      header .side-menu .yv-product-information .yv-prizebox .yv-product-compare-price {
        color: {{ section.settings.sub-menu_text_color }} !important;
      }
      .drawer-login-btn,
      #shopify-section-{{ section.id }} .side-menu .country-select-box .detail-summary span,
      #shopify-section-{{ section.id }} .side-menu .country-select-box .detail-summary:after {
        color: {{ section.settings.mobile_menu_text_color }} !important;
      }
  
      .side-menu .close-btn svg {
        color: {{ section.settings.mobile_menu_text_color }} !important;
      }
      .side-menu .social-links ul li svg {
        color: {{ section.settings.mobile_menu_text_color }} !important;
      }
      .yv-browse-category-link, .mobile-tabs-wrapper li{
        background: {{ section.settings.catalog_bg }};
        color: {{ section.settings.catalog_text }} !important;
      }
      .yv-header-searchbar input,.yv-header-searchbar-content{
        background: {{ section.settings.catalog_bg }};
      }
      .yv-header-searchbar-content *{
        color: {{ section.settings.searchbar_text }};
      }
      .mobile-tabs-wrapper li.active {
        background-color: {{ section.settings.catalog_text }};
        color: {{ section.settings.catalog_bg }} !important;
      }

      header .category-menu-bar ul .category-menu-item a,
      header .yv-megamenu-product-detail a,
      header .menu-category-title,
      header .yv-dropdown-item-link,
      header .yv-dropdown-menus .yv-product-title,
      header .yv-listing-megamenu-title,
      header .yv-megamenu-item-link,
      header .search-bar-container .yv-prizebox span{
         color: {{ section.settings.catologtext_color }} !important;
      }
      {% liquid
      assign menucolorBrightness = section.settings.catalogmenu_bg | color_brightness
    %}
    header{
    --headerlogoWidth:{{ section.settings.logo_width }}px;
    {%- if menucolorBrightness < 130 -%}
      --menuAlternateBg:{{ section.settings.catalogmenu_bg | color_lighten: 10 }};
      {%- else -%}
      --menuAlternateBg:{{ section.settings.catalogmenu_bg | color_darken: 5 }};
    {%- endif -%}
    }
    .category-megamenu-wrapper .yv-listing-megamenus,
    .category-megamenu-wrapper, .category-menu, .yv-listing-megamenu-container, .yv-dropdown-menus{
         background-color: {{ section.settings.catalogmenu_bg }} !important;
      }
  
    .yv-listing-megamenu-container:nth-child(even) {
         background-color: var(--menuAlternateBg) !important;
    }

   {%  for block in section.blocks %}
      {% if block.type == 'menu-badge' %}
        #menu-badge-{{ block.id }}{
         color:{{ block.settings.badge_text_color }};
         background:{{ block.settings.badge_background }};
        }
        #menu-badge-{{ block.id }}:before{
          border-bottom-color:{{ block.settings.badge_background }};
        } 
      {% endif %}
  {% endfor %}
    
  </style>
    <script>
      function stickyHeaderInit() {
         $('body').addClass('opened-once')
         {%  for block in section.blocks %}
          {% if block.type == 'menu-badge' %}
              {% if block.settings.menu_badge != blank and  block.settings.badge_label != blank %}
                 if(!$('body').hasClass("badge-enable")){
                   $('body').addClass("badge-enable")
                 }
              {% endif %}
          {% endif %}
         {% endfor %}  
        var windowScrollTop = $(window).scrollTop();
        $('body').removeClass('header1').removeClass('header2').removeClass('header3');
        $('body').addClass($('header').attr('data-header-style'));
        let scrollHeight = 0;
        var announcementHeight = $('.announcement-bar-section').height();
        if (announcementHeight != undefined) {
          scrollHeight = scrollHeight + announcementHeight;
        }else{
          announcementHeight =0;
        }
        $('body').css('--announcement-height',announcementHeight+'px');
        var headerHeight = $('.shopify-section-main-header').height();
        scrollHeight = scrollHeight + headerHeight;
        $('body').css('--header-height',$('header').height()+'px')
        let transparent = $('header').attr('header-transparent');
        if(transparent != undefined){
          if(transparent == 'true'){
            $('.shopify-section-main-header').addClass('transparent-header-true')
          }
        }
        $(window).scroll(function () {
        if($(window).scrollTop()>0){
            announcementHeight =0;
         }else{
            announcementHeight =$('.announcement-bar-section').height();;
          }
        $('body').css('--announcement-height',announcementHeight+'px');
          if ($(window).scrollTop() > scrollHeight) {
              $('body').addClass('sticky-header');
          } else {
              $('body').removeClass('sticky-header');
              $('body').removeClass('opened-once');
          }
          if($('header').attr('data-header-sticky') == 'true' && $('header').attr('data-header-sticky-style') == 'on_scroll_up'){
            if ($(window).scrollTop() > scrollHeight) {
                $('.yv-header-searchbar-content').hide();
              if (windowScrollTop > $(window).scrollTop()) {
                $('header').removeClass('sticky-header-hidden');
                 $(".shopify-section-main-header").removeClass('sticky-header-hidden-parent');
                 $('body').addClass('opened-once');
              
              } else {
                
                if(!$('body').hasClass('opened-once')){
                  $('header').addClass('sticky-header-hidden');
                  $(".shopify-section-main-header").addClass('sticky-header-hidden-parent');
                }
                $('body').removeClass('opened-once');
                  if(document.querySelector('[data-account-dropdown]')){
                     DOMAnimations.slideUp(document.querySelector('[data-account-dropdown]'));
                  }
              }
            } else {
              $('header').removeClass('sticky-header-hidden');
              $(".shopify-section-main-header").removeClass('sticky-header-hidden-parent');
            }
          }
          windowScrollTop = $(window).scrollTop();
        }); 
      }

      document.addEventListener('DOMContentLoaded', stickyHeaderInit, false);
      document.addEventListener('shopify:section:load', stickyHeaderInit, false);
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {%- if section.settings.logo -%}
        {%- assign image_size = section.settings.logo.width -%}
        "logo": {{ section.settings.logo | image_url : width : image_size | prepend: "https:" | json }},
      {%- endif -%}
      "sameAs": [
        {{- settings.social_twitter_link | json -}},
        {{- settings.social_facebook_link | json -}},
        {{- settings.social_pinterest_link | json -}},
        {{- settings.social_instagram_link | json -}},
        {{- settings.social_tumblr_link | json -}},
        {{- settings.social_snapchat_link | json -}},
        {{- settings.social_youtube_link | json -}},
        {{- settings.social_vimeo_link | json -}}
      ],
      "url": {{- shop.url | append: page.url | json -}}
    }
  </script>
  {%- if request.page_type == 'index' -%}
    {%- assign potential_action_target = shop.url | append: routes.search_url | append: '?q={search_term_string}' -%}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {{ shop.name | json }},
        "potentialAction": {
          "@type": "SearchAction",
          "target": {{ potential_action_target | json }},
          "query-input": "required name=search_term_string"
        },
        "url": {{ shop.url | append: page.url | json }}
      }
    </script>
  {%- endif -%}
</header>
{% unless request.page_type contains 'customers' or customer %}
  {% if section.settings.account_type == 'popup' %}
    <div class="yv-login-popup account-wrapper" data-account-popup>
    <div class="yv-login-popup-inner">
      {% render 'header-account' %}
    </div>
    </div>
  {% endif %}
{% endunless %}

{% if section.settings.enable_sticky_cart and section.settings.enable_sticky_header == false %}
    <div class="wrapper-top-cart cart-fixed {{ section.settings.icon_weight }}-icon">
      <a
        href="{{ routes.cart_url }}"
        title="{{ 'templates.cart.cart' | t }}"
        class="cart-icon {% if settings.enable_cart_drawer and template != 'cart' %}openCartDrawer{% endif %}"
      >
        {% if section.settings.cart_icon == 'cart' %}
          <svg x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;">
            <g>
            	<path d="M45.6,13.5c-0.6-0.8-1.9-1.5-2.9-1.5H13.1l-0.8-3.6C12,6.8,10.3,5.6,8.6,5.6H4.2c-0.5,0-1,0.5-1,1c0,0.5,0.5,1,1,1h4.4   c0.8,0,1.5,0.5,1.8,1.4l5.3,21.4c0.4,1.8,2,2.9,3.8,2.9h20c1.7,0,3.4-1.3,3.8-2.9l3.2-13.5C46.7,15.5,46.4,14.3,45.6,13.5   L45.6,13.5z M44.5,16.1l-3.2,13.4c-0.3,1-1,1.5-1.8,1.5h-20c-0.8,0-1.5-0.5-1.8-1.4L13.6,14h28.9c0.6,0,1.2,0.3,1.5,0.6   c0.6,0.6,0.6,1.2,0.6,1.4L44.5,16.1z"/>
            	<path d="M20.5,35.7c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2C24.7,37.6,22.8,35.7,20.5,35.7z M20.5,42   c-1.1,0-2.3-0.9-2.3-2.3c0-1.4,0.9-2.3,2.3-2.3c1.4,0,2.3,0.9,2.3,2.3C22.7,41.1,21.6,42,20.5,42z"/>
            	<path d="M37.9,35.7c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2C42.1,37.5,40.3,35.7,37.9,35.7z M37.9,42   c-1.1,0-2.3-0.9-2.3-2.3c0-1.4,0.9-2.3,2.3-2.3c1.4,0,2.3,0.9,2.3,2.3C40.1,41.1,39,42,37.9,42z"/>
            </g>
          </svg>
        {% else %}
          <svg x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;">
            <g>
            	<path d="M43,15.6h-7.8v-5.2c0-2-0.8-3.9-2.2-5.3C31.6,3.8,29.7,3,27.7,3h-5.5c-2,0-3.9,0.8-5.3,2.2c-1.4,1.4-2.2,3.3-2.2,5.3v5.2H7   c-0.6,0-1.1,0.5-1.1,1.1v22.4c0,2.1,0.8,4.1,2.3,5.6c1.5,1.5,3.5,2.3,5.6,2.3h22.4c2.1,0,4.1-0.8,5.6-2.3c1.5-1.5,2.3-3.5,2.3-5.6   V16.8c0-0.3-0.1-0.6-0.3-0.8C43.5,15.8,43.3,15.6,43,15.6z M17,10.5c0-1.4,0.6-2.7,1.5-3.7c1-1,2.3-1.5,3.7-1.5h5.5   c1.4,0,2.7,0.6,3.7,1.5c1,1,1.5,2.3,1.5,3.7v5.2H17V10.5z M41.8,39.1c0,1.5-0.6,2.9-1.7,4c-1.1,1.1-2.5,1.7-4,1.7H13.8   c-1.5,0-2.9-0.6-4-1.7c-1.1-1.1-1.7-2.5-1.7-4V17.9h6.6v5.2c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1v-5.2H33v5.2   c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1v-5.2h6.6V39.1z"/>
            </g>
          </svg>
        {% endif %}
        <span
          class="cartCount"
          data-cart-count=""
          {% if cart.item_count == 0 %}
            style="display:none"
          {% endif %}
        >
        </span>
      </a>
    </div>
{% endif %}
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "shopify-section-main-header",
  "tag": "div",
  "max_blocks": 25,
  "settings": [
    {
      "type": "select",
      "id": "header_style",
      "label": "t:sections.header.settings.header_style.label",
      "info": "t:sections.header.settings.header_style.info",
      "default": "header3",
      "options": [
        {
          "label": "t:sections.header.settings.header_style.header1.label",
          "value": "header1"
        },
        {
          "label": "t:sections.header.settings.header_style.header2.label",
          "value": "header2"
        },
        {
          "label": "t:sections.header.settings.header_style.header3.label",
          "value": "header3"
        },
          {
          "label": "t:sections.header.settings.header_style.header4.label",
          "value": "header4"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label"
    },
    {
      "type": "select",
      "id": "sticky_header_style",
      "label": "t:sections.header.settings.sticky_header_style.label",
      "default": "on_scroll_up",
      "options": [
        {
          "label": "t:sections.header.settings.sticky_header_style.always.label",
          "value": "always"
        },
        {
          "label": "t:sections.header.settings.sticky_header_style.on_scroll_up.label",
          "value": "on_scroll_up"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "default": true,
      "label": "t:sections.header.settings.enable_transparent_header.label",
      "info": "t:sections.header.settings.enable_transparent_header.info"
    },
    {
      "type": "header",
      "content": "t:common.header.logo_section.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label",
      "info": "t:sections.header.settings.logo.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info",
      "default": "flex-start",
      "options": [
        {
          "label": "t:sections.header.settings.logo_position.left.label",
          "value": "flex-start"
        },
        {
          "label": "t:sections.header.settings.logo_position.center.label",
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.navigation_section.label"
    },
    {
        "type": "select",
        "id": "menu_navigations",
        "label": "t:sections.header.settings.menu_navigations.label",
        "info": "t:sections.header.settings.menu_navigations.info",
        "default": "click",
        "options": [
          {
            "value": "click",
            "label": "t:sections.header.settings.menu_navigations.options.click.label"
          },
          {
            "value": "hover",
            "label": "t:sections.header.settings.menu_navigations.options.hover.label"
          }
        ]
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
        "type": "range",
        "id": "type_font_size",
        "label": "t:sections.header.settings.type_font_size.label",
        "info": "t:sections.header.settings.type_font_size.info",
        "default": 15,
        "min": 12,
        "max": 18,
        "step": 1,
        "unit": "px"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "t:sections.header.settings.menu_position.label",
      "info": "t:sections.header.settings.menu_position.info",
      "default": "flex-start",
      "options": [
        {
          "label": "t:sections.header.settings.menu_position.left.label",
          "value": "flex-start"
        },
        {
          "label": "t:sections.header.settings.menu_position.center.label",
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.catalog.content"
    },
    {
      "type": "checkbox",
      "id": "enable_catalog",
      "label": "t:sections.header.settings.enable_catalog.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_catalog_drawer",
      "label": "t:sections.header.settings.enable_catalog_drawer.label",
      "info": "t:sections.header.settings.enable_catalog_drawer.info",
      "default": false
    },
    {
      "type": "text",
      "id": "view_catalog",
      "label": "t:sections.header.settings.view_catalog.label",
      "default": "View catalog"
    },
    {
      "type": "link_list",
      "id": "catalog_menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.catalog_menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.trust_badge.content"
    },
    {
      "type": "image_picker",
      "id": "trust_badge_logo",
      "label": "t:sections.header.settings.trust_badge_logo.label"
    },
    {
      "type": "url",
      "id": "trust_badge_link",
      "label": "t:sections.header.settings.trust_badge_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_icons.heading"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "default": true,
      "label": "t:sections.header.settings.show_search.label"
    },
    {
        "type": "select",
        "id": "account_type",
        "label": "t:sections.header.settings.account_type.label",
        "default": "page",
        "options": [
          {
            "value": "page",
            "label": "t:sections.header.settings.account_type.options.page.label"
          },
          {
            "value": "dropdown",
            "label": "t:sections.header.settings.account_type.options.dropdown.label"
          },
          {
            "value": "popup",
            "label": "t:sections.header.settings.account_type.options.popup.label"
          }
        ]
    },
    {
        "type": "select",
        "id": "cart_icon",
        "label": "t:sections.header.settings.cart_icon.label",
        "default": "cart",
        "options": [
          {
            "value": "cart",
            "label": "t:sections.header.settings.cart_icon.options.cart.label"
          },
          {
            "value": "bag",
            "label": "t:sections.header.settings.cart_icon.options.bag.label"
          }
        ]
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_cart",
      "default": false,
      "label": "t:sections.header.settings.enable_sticky_cart.label",
      "info": "t:sections.header.settings.enable_sticky_cart.info"
    },
    {
        "type": "select",
        "id": "icon_weight",
        "label": "t:sections.header.settings.icon_weight.label",
        "default": "thin",
        "options": [
          {
            "value": "thin",
            "label": "t:sections.header.settings.icon_weight.options.thin.label"
          },
          {
            "value": "normal",
            "label": "t:sections.header.settings.icon_weight.options.normal.label"
          },
          {
            "value": "bold",
            "label": "t:sections.header.settings.icon_weight.options.bold.label"
          }
        ]
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.enable_language_selector.heading"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.enable_language_selector.content"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info": "t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.show_currency.heading"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.show_currency.content"
    },
    {
      "type": "checkbox",
      "id": "enable_currency_selector",
      "default": true,
      "label": "t:sections.header.settings.show_currency.label",
      "info": "t:sections.header.settings.show_currency.info"
    },
    {
      "type": "header",
      "content": "t:common.header.color_section.label"
    },
    {
      "type": "color",
      "id": "header_bgcolor",
      "default": "#FFFFFF",
      "label": "t:sections.header.settings.header_bgcolor.label"
    },
    {
      "type": "color",
      "id": "header_textcolor",
      "default": "#181818",
      "label": "t:sections.header.settings.header_textcolor.label"
    },
    {
      "type": "color",
      "id": "header_textcolor_hover",
      "default": "#9d6348",
      "label": "t:sections.header.settings.header_textcolor_hover.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.transparent_header.content"
    },
    {
      "type": "color",
      "id": "transparent_text_color",
      "default": "#000000",
      "label": "t:sections.header.settings.transparent_text_color.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.hamburger.content"
    },
    {
      "type": "color",
      "id": "hamburger_bgcolor",
      "default": "#000000",
      "label": "t:sections.header.settings.hamburger_bgcolor.label"
    },
    {
      "type": "color",
      "id": "hamburger_textcolor",
      "default": "#000000",
      "label": "t:sections.header.settings.hamburger_textcolor.label"
    },
    {
      "type": "color",
      "id": "hamburger_textcolor_hover",
      "default": "#9d6348",
      "label": "t:sections.header.settings.hamburger_textcolor_hover.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.full_width_menu.content"
    },
    {
      "type": "color",
      "id": "full_width_bgcolor",
      "label": "t:sections.header.settings.hamburger_bgcolor.label"
    },
    {
      "type": "color",
      "id": "full_width_textcolor",
      "label": "t:sections.header.settings.hamburger_textcolor.label"
    },
    {
      "type": "color",
      "id": "full_width_textcolor_hover",
      "label": "t:sections.header.settings.hamburger_textcolor_hover.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.mobile_menu.content"
    },
    {
      "type": "color",
      "id": "mobile_menu_bg_color",
      "default": "#000000",
      "label": "t:sections.header.settings.mobile_menu_bg_color.label"
    },
    {
      "type": "color",
      "id": "mobile_menu_text_color",
      "default": "#ffffff",
      "label": "t:sections.header.settings.mobile_menu_text_color.label"
    },
    {
      "type": "color",
      "id": "sub-menu_text_color",
      "default": "#ffffff",
      "label": "t:sections.header.settings.sub-menu_text_color.label"
    },
    {
      "type": "color",
      "id": "mobile_menu_border_color",
      "default": "#727272",
      "label": "t:sections.header.settings.catalog_border.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.submenu.content"
    },
    {
      "type": "color",
      "id": "catalogmenu_bg",
      "default": "#f7f7f7",
      "label": "t:sections.header.settings.catalogmenu_bg.label"
    },
    {
      "type": "color",
      "id": "catologtext_color",
      "default": "#000000",
      "label": "t:sections.header.settings.catologtext_color.label"
    },
    {
      "type": "color",
      "id": "catologtext_hover",
      "default": "#8f826b",
      "label": "t:sections.header.settings.catologtext_hover.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.catalog_searchbar.label"
    },
     {
      "type": "color",
      "id": "catalog_bg",
      "default": "#ddd",
      "label": "t:sections.header.settings.catalog_bg.label"
    },
    {
      "type": "color",
      "id": "catalog_text",
      "default": "#FFFFFF",
      "label": "t:sections.header.settings.catalog_text.label"
    },
    {
      "type": "color",
      "id": "catalog_text_border",
      "default": "#EDEDED",
      "label": "t:sections.header.settings.catalog_border.label"
    },
    {
      "type": "color",
      "id": "searchbar_text",
      "default": "#000000",
      "label": "t:sections.header.settings.searchbar_text.label"
    },
    {
      "type": "color",
      "id": "searchbar_icon_bg",
      "default": "#EDEDED",
      "label": "t:sections.header.settings.searchbar_icon_background.label"
    },
    {
      "type": "color",
      "id": "searchbar_icon_color",
      "default": "#000000",
      "label": "t:sections.header.settings.searchbar_icon_color.label"
    }
  ],
  "blocks": [
    {
      "type": "style-1",
      "name": "t:sections.header.blocks.style1.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.header.blocks.style1.settings.paragraph.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.header.blocks.style1.settings.title.label",
          "info": "t:sections.header.blocks.style1.settings.title.info"
        },
        {
          "type": "checkbox",
          "id": "show_submenu",
          "label": "t:sections.header.blocks.style1.settings.show_submenu.label",
          "default": true,
          "info": "t:sections.header.blocks.style1.settings.show_submenu.info"
        },
        {
          "type": "product",
          "id": "product1",
          "label": "t:sections.header.blocks.style1.settings.product1.label"
        },
        {
          "type": "product",
          "id": "product2",
          "label": "t:sections.header.blocks.style1.settings.product2.label"
        },
        {
          "type": "product",
          "id": "product3",
          "label": "t:sections.header.blocks.style1.settings.product3.label"
        },
        {
          "type": "product",
          "id": "product4",
          "label": "t:sections.header.blocks.style1.settings.product4.label"
        },
        {
          "type": "product",
          "id": "product5",
          "label": "t:sections.header.blocks.style1.settings.product5.label"
        },
        {
          "type": "product",
          "id": "product6",
          "label": "t:sections.header.blocks.style1.settings.product6.label"
        }
      ]
    },
    {
      "type": "style-2",
      "name": "t:sections.header.blocks.style2.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.header.blocks.style1.settings.paragraph.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.header.blocks.style2.settings.title.label",
          "info": "t:sections.header.blocks.style2.settings.title.info"
        },
        {
          "type": "collection",
          "id": "collection1",
          "label": "t:sections.header.blocks.style2.settings.collection1.label"
        },
        {
          "type": "collection",
          "id": "collection2",
          "label": "t:sections.header.blocks.style2.settings.collection2.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.style2.settings.header1.content"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "t:sections.header.blocks.style2.settings.image1.label",
          "info": "t:sections.header.blocks.style2.settings.image1.info"
        },
        {
          "type": "text",
          "id": "heading1",
          "label": "t:sections.header.blocks.style2.settings.heading1.label"
        },
        {
          "type": "text",
          "id": "subheading1",
          "label": "t:sections.header.blocks.style2.settings.subheading1.label"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "t:sections.header.blocks.style2.settings.link1.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.style2.settings.header2.content"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "t:sections.header.blocks.style2.settings.image2.label",
          "info": "t:sections.header.blocks.style2.settings.image2.info"
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "t:sections.header.blocks.style2.settings.heading2.label"
        },
        {
          "type": "text",
          "id": "subheading2",
          "label": "t:sections.header.blocks.style2.settings.subheading2.label"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "t:sections.header.blocks.style2.settings.link2.label"
        }
      ]
    },
    {
      "type": "style-3",
      "name": "t:sections.header.blocks.style3.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.header.blocks.style1.settings.paragraph.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.header.blocks.style3.settings.title.label",
          "info": "t:sections.header.blocks.style3.settings.title.info"
        },
        {
          "type": "range",
          "id": "products_count",
          "label": "t:sections.header.blocks.style3.settings.products_count.label",
          "default": 7,
          "min":5,
          "max":10,
          "step":1
        },
        {
          "type": "collection",
          "id": "collection1",
          "label": "t:sections.header.blocks.style3.settings.collection1.label"
        },
        {
          "type": "collection",
          "id": "collection2",
          "label": "t:sections.header.blocks.style3.settings.collection2.label"
        },
        {
          "type": "collection",
          "id": "collection3",
          "label": "t:sections.header.blocks.style3.settings.collection3.label"
        },
        {
          "type": "collection",
          "id": "collection4",
          "label": "t:sections.header.blocks.style3.settings.collection4.label"
        },
        {
          "type": "collection",
          "id": "collection5",
          "label": "t:sections.header.blocks.style3.settings.collection5.label"
        },
        {
          "type": "collection",
          "id": "collection6",
          "label": "t:sections.header.blocks.style3.settings.collection6.label"
        },
        {
          "type": "collection",
          "id": "collection7",
          "label": "t:sections.header.blocks.style3.settings.collection7.label"
        },
        {
          "type": "collection",
          "id": "collection8",
          "label": "t:sections.header.blocks.style3.settings.collection8.label"
        },
        {
          "type": "collection",
          "id": "collection9",
          "label": "t:sections.header.blocks.style3.settings.collection9.label"
        },
        {
          "type": "collection",
          "id": "collection10",
          "label": "t:sections.header.blocks.style3.settings.collection10.label"
        },
        {
          "type": "collection",
          "id": "collection11",
          "label": "t:sections.header.blocks.style3.settings.collection11.label"
        },
        {
          "type": "collection",
          "id": "collection12",
          "label": "t:sections.header.blocks.style3.settings.collection12.label"
        }
      ]
    },
    {
      "type":"menu-badge",
      "name":"t:sections.header.blocks.menu-badge.name",
      "settings":[
        {
          "type":"text",
          "id":"badge_label",
          "label":"t:sections.header.blocks.menu-badge.settings.badge_label.label"
        },
        {
           "type":"text",
          "id":"menu_badge",
          "label":"t:sections.header.blocks.menu-badge.settings.menu_badge.label"
        },
        {
          "type":"header",
          "content":"t:common.header.color_section.label"
        },
        {
          "type": "color",
          "id": "badge_text_color",
          "default": "#FFFFFF",
          "label": "t:sections.header.blocks.menu-badge.settings.text-color.label" 
        },
        {
          "type": "color",
          "id": "badge_background",
          "default": "#000000",
          "label": "t:sections.header.blocks.menu-badge.settings.background-color.label" 
        }
      ]
    }
  
  ,
{
  "type": "nueva-seccion",
  "name": "Nueva Sección",
  "settings": [
    {
      "type": "text",
      "id": "nueva_seccion_titulo",
      "label": "Título de la Nueva Sección"
    }
  ]
}

  ]
}
{% endschema %}
