<div class="multi-img-content text-{{ section.settings.text_alignment }}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}
        {%- if block.settings.heading != blank -%}
          <div class="container sm-container" {{ block.shopify_attributes }}>
            <div class="section-heading">
              <{{ block.settings.seo_heading }} class="{{ block.settings.heading_size }}">{{ block.settings.heading }}</{{ block.settings.seo_heading }}>
            </div>
          </div>
        {% endif %}
      {% when 'image' %}
        <div
          class="multi-imgs-box image-position-right multi-image"
          style="
            --imageShadowColor:{{ block.settings.image_shadow_color }};
            --layoutRadius:{% if settings.layout_style == 'rounded' %}20px{% else %}0px{% endif %};
            --multiImageBackground:var(--{{- block.settings.bgcolor -}}ColorBody);
            {%- unless block.settings.bgcolor == 'primary' -%}
            --colorTextBody:var(--{{- block.settings.bgcolor -}}colorTextBody);
            --heading_color:var(--{{- block.settings.bgcolor -}}_heading_color);
            {%- endunless -%}
          " {{ block.shopify_attributes }}
        >
          <div class="container sm-container">
            <div class="row">
              <div class="image-one col-12 col-sm-6 col-md-6 col-lg-6">
                <div
                  class="yv-imgbox-container  image-shadow-{{ block.settings.image_shadow }}"
                  data-aos="fade-up"
                  data-offset="500"
                >
                  <div class="yv-img-content">
                    {%- if block.settings.first_image != blank -%}
                      {% render 'lazy-image', image: block.settings.first_image %}
                    {%- else -%}
                      {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="image-second col-12 col-sm-6 col-md-6 col-lg-6">
                <div
                  class="yv-imgbox-container  image-shadow-{{ block.settings.image_shadow }}"
                  data-aos="fade-down"
                  data-offset="500"
                >
                  <div class="yv-img-content">
                    {%- if block.settings.second_image != blank -%}
                      {% render 'lazy-image', image: block.settings.second_image %}
                    {%- else -%}
                      {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% when 'text' %}
        {%- if block.settings.content != blank -%}
          <div class="container sm-container" {{ block.shopify_attributes }}>
            <div class="multi-imgs-desc">
              {{ block.settings.content }}
            </div>
          </div>
        {% endif %}
      
      {% when 'button' %}
        {%- if block.settings.btn_link != blank and block.settings.btn_text != blank -%}
          <div class="container sm-container" {{ block.shopify_attributes }}>
              <a class="button {{ block.settings.button_size }}-btn mt-3" href="{{ block.settings.btn_link }}">
                {{- block.settings.btn_text -}}
              </a>
          </div>
        {%- endif -%}
    {% endcase %}
  {% endfor %}
</div>
<style>
  #shopify-section-{{ section.id }}.shopify-section {
    padding-top:{{ section.settings.top_space_desktop }}px;
    padding-bottom:{{ section.settings.bottom_space_desktop }}px;
  }
  @media only screen and (max-width:991px) {
    #shopify-section-{{ section.id }}.shopify-section{
      padding-top:{{ section.settings.top_space_mobile }}px;
      padding-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.multi-image-with-text.name",
  "tag": "section",
  "class": "multi-images-with-text-section",
  "max_blocks": 5,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "text_alignment",
      "default": "left",
      "label": "t:sections.multi-image-with-text.settings.text-alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multi-image-with-text.settings.text-alignment.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.multi-image-with-text.settings.text-alignment.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.multi-image-with-text.settings.text-alignment.options.right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.space_section.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.top_space_desktop.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.bottom_space_desktop.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.top_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.bottom_space_mobile.label",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.multi-image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.multi-image-with-text.blocks.heading.settings.heading.label",
          "default": "Multi image with text"
        },
       {
          "type": "select",
          "id": "seo_heading",
          "label": "t:common.header.heading_tag.label",
          "info": "t:common.header.heading_tag.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:common.header.heading_tag.options.h1.label"
            },
            {
              "value": "h2",
              "label": "t:common.header.heading_tag.options.h2.label"
            },
            {
              "value": "h3",
              "label": "t:common.header.heading_tag.options.h3.label"
            },
            {
              "value": "h4",
              "label": "t:common.header.heading_tag.options.h4.label"
            },
            {
              "value": "h5",
              "label": "t:common.header.heading_tag.options.h5.label"
            },
            {
              "value": "h6",
              "label": "t:common.header.heading_tag.options.h6.label"
            }
          ]
      },
        {
          "type": "select",
          "id": "heading_size",
          "default": "h2",
          "label": "t:common.heading_size.label",
          "options": [
            {
              "value": "h5",
              "label": "t:common.heading_size.options.small.label"
            },
            {
              "value": "h4",
              "label": "t:common.heading_size.options.medium.label"
            },
            {
              "value": "h2",
              "label": "t:common.heading_size.options.large.label"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.multi-image-with-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "label": "t:sections.multi-image-with-text.blocks.text.settings.content.label",
          "id": "content",
          "default": "<p>To provide clients insight into your brand, pair words with any image. Here you can tell a narrative, explain a product feature, or introduce a new campaign.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.multi-image-with-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button text",
          "label": "t:sections.multi-image-with-text.blocks.button.settings.btn_text.label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.multi-image-with-text.blocks.button.settings.btn_link.label"
        },
        {
          "type": "select",
          "id": "button_size",
          "default": "med",
          "label": "t:common.button.shortname.label",
          "options": [
            {
              "value": "default",
              "label": "t:common.button.options.default.label"
            },
            {
              "value": "small",
              "label": "t:common.button.options.small.label"
            },
            {
              "value": "med",
              "label": "t:common.button.options.medium.label"
            },
            {
              "value": "large",
              "label": "t:common.button.options.large.label"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.multi-image-with-text.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "first_image",
          "label": "t:sections.multi-image-with-text.blocks.image.settings.first_image.label"
        },
        {
          "type": "image_picker",
          "label": "t:sections.multi-image-with-text.blocks.image.settings.second_image.label",
          "id": "second_image"
        },
        {
          "type": "checkbox",
          "id": "image_shadow",
          "label": "t:sections.multi-image-with-text.blocks.image.settings.image_shadow.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:common.header.color_section.label"
        },
        {
          "type": "select",
          "id": "bgcolor",
          "label": "t:common.header.background_section.label",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "t:common.header.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:common.header.secondary.label"
            },
            {
              "value": "tertiary",
              "label": "t:common.header.tertiary.label"
            },
            {
              "value": "quaternary",
              "label": "t:common.header.quaternary.label"
            },
            {
              "value": "gradient",
              "label": "t:common.header.gradient.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "image_shadow_color",
          "label": "t:sections.multi-image-with-text.blocks.image.settings.image_shadow_color.label",
          "default": "#dddddd"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi-image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "image"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
